# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Logs & local files
*.log

# IDE / Editor configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
